{% extends "Iayout.html" %} {% block content %} {% include
"partials/slider.html" %}

<div class="container">
  <div class="row">
    {% for card in cards %}
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" style="width: 18rem">
        <img src="{{ card[3] }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ card[0] }}</h5>
          <p class="card-text">{{ card[1] }}</p>
          <a href="{{ card[4] }}" class="btn btn-primary">Click Me!</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<em>
  What is skibidi toilet? Skibidi Toilet is a viral animated YouTube series
  created by Alexey Gerasimov, where mobile toilets with human heads are at war
  with humanoids with speakers, cameras, and TVs for heads. The series,
  primarily known for its absurdist and sometimes violent depictions, is
  animated using computer graphics and falls into the Machinima subgenre. It has
  filled the imaginations of many childeren and created a huge fanbase. It
  originally came from the internet viral video uploaded by DafuqBoom that
  sparked an uprise in brainrot and created the new generation of degeneracy.
  The Skibidi Toilets are a race of sentient toilets with human heads, whose
  only form of communication is a nonsensical song they sing over and over. The
  ``good'' guys in the series are humans dressed in business suits with various
  appliances such as cameras or speakers for heads.
</em>
<p>hello world</p>
{% endblock %}
